.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.normal {}
.none {
  display:none;
}
.hidden {
  visibility:hidden;
}
.block {
    display:block;
}
.highlight {
    font-weight: bold;
}
.indent {
    padding-left: 8pt;
}

td {
    padding: 2pt;
    border: 0;
}
th {
    font-weight: bold;
    background-color: #eee;
}

.negative {
    background-color:#faa;
}
.positive {
    background-color:#afa;
}

body, #top {
  font-family: "Helvetica Neue",Arial,arial,sans-serif;
  font-size: 12pt;
  margin:0;
  padding:0;
}
pre, code {
    font-size: 11pt;
}
#header {
  margin: 0;
  padding:2pt;
  display:block;
  background-color:#dfd;
  vertical-align: middle;
  min-width: 450px;
}
a.active.nav {
  text-decoration: underline;
}
a.nav {
  display: inline-block;
  color: #000;
  margin: 2pt 0 2pt 2pt;
  border-radius:2pt;
  padding: 8pt;
  text-decoration:none;
  vertical-align: middle;
}
a:hover.nav {
  background-color: #bfb;
}
.rightnav {
  float:right;
  margin-left: auto;
}
hr {
    width: 80%;
    color: #ddd;
}

#searchBox {
  display: inline-block;
  border: 1px solid #090;
  background-color: #fff;
  margin: 5pt;
  border-radius:2pt;
  padding: 5pt;
  width: 20em;
  vertical-align: middle;
}

.error {
    font-weight: bold;
    color: #000;
    background-color: #f99;
}

textarea {
    width: 30em;
    height: 10em;
    display:block;
}

.sentence:hover {
    background-color: #eee;
}
.token:hover {
    background-color: #ddd;
}

#content {
    margin: 4pt;
}
.corpusInfo label {
    display:block;
}

.varInfo {
    border: 2px solid #ddf;
    margin: 2px;
    padding-left: 4pt;
}
.varInfo label {
    font-weight: bold;
    font-size: 14pt;
    padding-left: 2pt;
}

.FilterableList {
    border: 2px solid #eef;
    margin: 2px;
    padding: 2px;
}

p { margin: 0; }

li { margin-bottom: 8pt; }


.termResults {
    float:left;
    margin: 10pt;
}
.phraseResults {
    float: left;
    margin: 10pt;
}

.uiPanel {
    width: 800px;
}

.uiWindow {
    float: left;
    margin: 5pt;
    border: 2pt solid #ddd;
    padding: 5pt;
}

.uiWindowControls {
    padding: 2pt;
    background-color: #ddd;
}

.uiWindowContent {
    border-top: 2pt solid #000;
    padding: 2pt;
    padding-top: 5pt;
}

.PhraseSearchResultPanels {
    min-width: 1000px;
}

.kwic {
    width: 400px;
}

.WordCountTerm {
    background-color: #eee;
    border: 1px solid #ddd;
}