.token {
    display: inline-block;
    padding: 1pt;
    padding-right: 2pt;
}

.inactiveTab {
    display:none;
    background-color: #f00;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.normal {}
.none {
  display:none;
}
.hidden {
  visibility:hidden;
}

.resultView {
  margin: 4pt;
  margin-top: 16pt;
  width: 500px;
  height: 140px;
  overflow-x: initial;
  overflow-y: auto;
}

.sentenceView {
  padding: 10px;
  background-color: #efe;
}

.active-token {
    display: inline-block;
    padding: 1pt;
    padding-right: 2pt;
    background-color: #fd0;
}

.positive-token {
  display: inline-block;
  padding: 1pt;
  padding-right: 2pt;
  background-color: #afa;
}

.sentenceId {
    display: inline-block;
    width: 3em;
    padding-right:1em;
    text-align:right;
    font-style: italic;
}

.sentences {
    display:block;
    padding: 2pt;
    margin: 2pt;
}

td {
    padding: 2pt;
    border: 0pt;
}

tr.negative {
    background-color:#faa;
}
tr.positive {
    background-color:#afa;
}

.sentence {
    display:block;
    padding: 2pt;
    background-color: #eeeeee;
    margin: 2pt;
    margin-bottom: 10pt;
}

.ner-I-MISC {
    background-color: #f99;
}
.ner-I-ORG {
    background-color: #9f9;
}
.ner-I-PER {
    background-color: #99f;
}
.ner-I-LOC {
    background-color: #f9f;
}

.fieldValue {
    background-color: #eee;
    padding: 2pt;
    margin: 2pt;
}

.ajax {
    font-style: italic;
    font-size: 10pt;
}

label {
    padding: 2pt;
    border: 1pt solid #eee;
    margin: 2pt;
    display: inline-block;
}

label.edit {
  display: block;
  padding: 2pt;
  margin:2pt;
  border: 0;
}

body, #top {
  font-family: "Helvetica Neue",Arial,arial,sans-serif;
  font-size: 12pt;
  margin:0;
  padding:0;
}
#header {
  margin: 0;
  padding:2pt;
  display:block;
  background-color:#dfd;
  vertical-align: middle;
  min-width: 450px;
}
a.active.nav {
  text-decoration: underline;
}
a.nav {
  display: inline-block;
  color: #000;
  margin: 2pt;
  margin-right: 0;
  border-radius:2pt;
  padding: 8pt;
  text-decoration:none;
  vertical-align: middle;
}
a:hover.nav {
  background-color: #bfb;
}
.rightnav {
  float:right;
  margin-left: auto;
}

.button {
  display: inline-block;
  margin: 2pt;
  border-radius:2pt;
  padding: 8pt;
  text-decoration:none;
  background-color: #bfb;
  user-select:none;
  -moz-user-select:none;
  cursor:pointer;
}
.button:hover {
  background-color: #9d9;
}

#searchBox {
  display: inline-block;
  border: 1px solid #090;
  background-color: #fff;
  margin: 5pt;
  border-radius:2pt;
  padding: 5pt;
  width: 20em;
  vertical-align: middle;
}

div.classifierInfo {
  margin-left: 6pt;
  border-bottom: 1px solid #ddd;
}
