.token {
    display: inline-block;
    padding: 1pt;
}

.active-token {
    display: inline-block;
    padding: 1pt;
    background-color: #99f;
    border: 0.5pt solid #66d;
}

.sentenceId {
    display: inline-block;
    width: 3em;
    padding-right:1em;
    text-align:right;
    font-style: italic;
}

.sentences {
    list-style: none;
    display:block;
}