.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.normal {}
.none {
  display:none;
}
.hidden {
  visibility:hidden;
}
.block {
    display:block;
}
.highlight {
    font-weight: bold;
}
.indent {
    padding-left: 8pt;
}

td {
    padding: 2pt;
    border: 0;
}
th {
    font-weight: bold;
    background-color: #eee;
}

.negative {
    background-color:#faa;
}
.positive {
    background-color:#afa;
}

h1 {
    font-size: 24pt;
}
p {
    margin: 10pt;
}

a.active.nav {
  text-decoration: underline;
}
a.nav {
  display: inline-block;
  color: #000;
  margin: 2pt 0 2pt 2pt;
  border-radius:2pt;
  padding: 8pt;
  text-decoration:none;
  vertical-align: middle;
}
a:hover.nav {
  background-color: #bfb;
}
.rightnav {
  float:right;
  margin-left: auto;
}
hr {
    width: 80%;
    color: #ddd;
}


.error {
    font-weight: bold;
    color: #000;
    background-color: #f99;
}

textarea {
    width: 30em;
    height: 10em;
    display:block;
}

.sentence:hover {
    background-color: #eee;
}
.token:hover {
    background-color: #ddd;
}

#content {
    margin: 4pt;
}


li { margin-bottom: 8pt; }

.loginForm {
    border: 1px solid #000;
    background-color: #eee;
    padding: 50pt;
    margin: 50pt;
    text-align:center;
}

.loggedInMessage {
    border: 1px solid #000;
    background-color: #eee;
    padding: 5pt;
    margin:5pt;
    margin-bottom: 15pt;
}

.deleted {
    background-color: #ecc;
}
.deletedAt {
    background-color: #eee;
}

.factRendererTable {

}
.factRendererTable td {
    vertical-align:top;
}

label.rel {
    padding: 2pt;
    margin: 2pt;
    background-color: #eee;
}

.recommended {
    display: inline-block;
    padding: 4pt;
}

.FilterableList {
    border: 2px solid #eef;
    margin: 2px;
    padding: 2px;
}

.fact-display {
    border: 3pt solid #ddd;
    text-align: center;
    padding: 10pt;
    margin: 30pt;
}

.pageImage {
    width: 560px;
    height: 824px;
}

.summary {
    margin: 0;
}
.doneMyQueries {
    background-color: #cfc;
}
.needsQueries.needsMyQueries {
    background-color: #fcc;
}
.summary.needsMyQueries {
    background-color: #ccf;
}
.needsMyQueries {
    background-color: #ccf;
}
.needsQueries {
    background-color: #fcc;
}
.current {
    background-color: #000;
}

.querySuggestBox {
    width: 300pt;
}
